#grid {
	height: 100px;
	width: 100px;
}

.square {
	height: 30px;
	width: 30px;
	border: solid 1px black;
	float: left;
}

.square-filled {
	height: 30px;
	width: 30px;
	border: solid 1px black;
	background-color: black;
	float: left;
}